---
version: 2
interactions:
    - id: 0
      request:
        host: api.unitrans.onebusawaycloud.com
        body: ""
        form: {}
        headers: {}
        url: https://api.unitrans.onebusawaycloud.com/api/where/metrics.json?key=org.onebusaway.iphone
        method: GET
      response:
        body: '{"code":200,"currentTime":1746317392588,"data":{"entry":{"agenciesWithCoverageCount":1,"agencyIDs":["unitrans"],"realtimeRecordsTotal":{"unitrans":5},"realtimeTripCountsMatched":{"unitrans":5},"realtimeTripCountsUnmatched":{"unitrans":2},"realtimeTripIDsUnmatched":{"unitrans":["O_29_outbound_1710","K_29_outbound_1710"]},"scheduledTripsCount":{"unitrans":5},"stopIDsMatchedCount":{"unitrans":160},"stopIDsUnmatched":{"unitrans":[]},"stopIDsUnmatchedCount":{"unitrans":0},"timeSinceLastRealtimeUpdate":{"unitrans":40}},"references":{"agencies":[],"routes":[],"situations":[],"stopTimes":[],"stops":[],"trips":[]}},"text":"OK","version":2}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=ISO-8859-1
            Rndr-Id:
                - 2fba0022-b9be-4c67
            X-Render-Origin-Server:
                - Render
        status: 200 OK
        code: 200
        duration: 818.988709ms
